$header-color: #2493c7;
$header-color-1: #2493c7;
$header-color-2: #da47cd;
$header-color-3: #07722a;
$header-color-4: #5359af;
$header-color-5: orange;
$header-color-6: rgb(6, 148, 30);
$header-color-7: red;
$header-color-8: yellow;
$header-color-9: rgb(90, 209, 96);
$header-color-10: rgb(149, 245, 120);
$header-color-11: rgb(113, 253, 242);
$header-color-12: rgb(75, 39, 233);




